<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="about"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> <strong>អាជ្ញាប័ណ្ណ</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-row class="ion-justify-content-left">
      <ion-col size="12" size-sm="6" size-md="4" size-lg="6" size-xl="6">
        <h4><strong>អាជ្ញាប័ណ្ណប្រកបអាជីវកម្មគ្រីះស្ថានមីក្រូហិរញ្ញវត្តុ</strong></h4>
        <ion-card class="ion-no-margin">
          <ion-img class="ion-padding" src="https://www.borribo.com.kh/template/images/about/license/nvc.jpg">
          </ion-img>
        </ion-card>
      </ion-col>
    
      <ion-col size="12" size-sm="6" size-md="4" size-lg="6" size-xl="6">
        <h4><strong>វិញ្ញបនបត្រ បញ្ជាក់ការចុះឈ្មោះក្នុងបញ្ជីពាណិជ្ជកម្ម</strong></h4>
        <ion-card class="ion-no-margin">
          <ion-img class="ion-padding" src="https://www.borribo.com.kh/template/images/about/license/incorporation.jpg">
          </ion-img>
        </ion-card>
      </ion-col>
    
      <ion-col size="12" size-sm="6" size-md="4" size-lg="6" size-xl="6">
        <h4><strong>វិញ្ញបនបត្រ ចុះបញ្ជីពន្ធដារ (អាករលើតម្លៃបន្ថែម-អតប)</strong></h4>
        <ion-card class="ion-no-margin">
          <ion-img class="ion-padding" src="https://www.borribo.com.kh/template/images/about/license/vat.jpg">
          </ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
