<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"><strong>មតិយោបល់</strong></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="compliantForm" (ngSubmit)="postCompliant()">
    <ion-card mode="ios">
      <ion-card-header color="primary"><strong>សូមបំពេញពត៌មាន ដើម្បីផ្ដាល់មតិយោបល់</strong></ion-card-header>
     
    <ion-list>
      <!-- <ion-input type="hidden" name="id_job" formControlName="id_job" required></ion-input> -->
      <!-- ======== Name ======== -->
      <ion-item lines="none">

        <ion-label position="floating">
        <p>ឈ្មោះ</p>  
        </ion-label>
        <ion-input class="input" type="text" name="name" formControlName="name" required>
        </ion-input>

      </ion-item>
      <ion-item lines="none" class="erorr"
        *ngIf="compliantForm.get('name').invalid && (compliantForm.get('name').touched || compliantForm.get('name').dirty)">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល ឈ្មោះឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "20" តួរអក្ស</strong></p>
        </ion-text>
      </ion-item>

      <!-- ======== Gender ======== -->

    
      <ion-item lines="none">
        <ion-label position="floating"> <p>ភេទ</p></ion-label>
        <ion-input class="input" type="text" (click)="openPickerGender()" formControlName="gender"  placeholder="{{genderString}}"></ion-input>
        <ion-input class="input" type="text" hidden formControlName="gender"  value="{{genderValue}}" required></ion-input>

      </ion-item>
      

      <ion-item lines="none" class="erorr"
        *ngIf="compliantForm.get('gender').invalid && (compliantForm.get('gender').touched || compliantForm.get('gender').dirty)"
        lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមជ្រើសរើសប្រភេទ​</strong></p>
        </ion-text>
      </ion-item>
     

      <!-- ======== Phone ======== -->
      <ion-item lines="none">
        <ion-label position="floating">
        <p>លេខទូរស័ព្ទ</p>  
        </ion-label>
        <ion-input class="input" type="text" name="phone" formControlName="phone" required>
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="erorr"
        *ngIf="compliantForm.get('phone').invalid && (compliantForm.get('phone').touched || compliantForm.get('phone').dirty)">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល លេខទូរស័ព្ទឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "10" ខ្ទង់</strong></p>
        </ion-text>
      </ion-item>

       <!-- ======== Phone ======== -->
       <ion-item lines="none">
        <ion-label position="floating">
        <p>អុីម៉ែល</p>  
        </ion-label>
        <ion-input class="input" type="text" name="email" formControlName="email">
        </ion-input>
      </ion-item>

      
      <!-- ======== Subject ======== -->
      <ion-item lines="none" lines="none">
        <ion-label position="floating">
        <p>ប្រធានបទ</p>  
        </ion-label>
        <ion-textarea type="text" name="subject" formControlName="subject" rows="3">
        </ion-textarea>
      </ion-item>

      <ion-item lines="none" class="erorr"
      *ngIf="compliantForm.get('subject').invalid && (compliantForm.get('subject').touched || compliantForm.get('subject').dirty)">
      <ion-text color="danger">
        <p><strong class="erorr">សូមបញ្ជូល លេខទូរស័ព្ទឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "10" ខ្ទង់</strong></p>
      </ion-text>
    </ion-item>
    <!-- ======== Description ======== -->
    <ion-item lines="none">
      <ion-label position="floating">
      <p>ពិពណ៌នាពាក្យបណ្តឹង</p>  
      </ion-label>
      <ion-textarea  name="compliant_description" formControlName="compliant_description" rows="3"></ion-textarea>
      
    </ion-item>

    <ion-item lines="none" class="erorr"
    *ngIf="compliantForm.get('compliant_description').invalid && (compliantForm.get('compliant_description').touched || compliantForm.get('compliant_description').dirty)">
    <ion-text color="danger">
      <p><strong class="erorr">សូមបញ្ជូល ច្រើនបំផុត "50" ខ្ទង់</strong></p>
    </ion-text>
  </ion-item>
    

    </ion-list>

    <ion-button  class="ion-margin"  type="submit" [disabled]="!compliantForm.valid" expand="block" color="primary" mode="ios"> បញ្ជូន
    </ion-button>
    </ion-card>
  </form>
</ion-content>
