<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> <strong>អំពីយើង</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-margin">
          <ion-img src="assets/about/build.jpg">
          </ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text color="primary">
        <h2><strong>ចក្ខុវិស័យ</strong></h2>
      </ion-text>
      
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <p>
            គ្រឹះស្ថាន​មីក្រូហិរញ្ញវត្ថុ បរិបូណ៍ ភីអិលស៊ី គ្រឹះស្ថានមីក្រូហិរញ្ញវត្ថុ បរិបូរណ៍ ភីអិលស៊ី គឺជាគ្រឹះស្ថានដែលបង្កើតឡើងដើម្បីជួយប្រជាពលរដ្ខគ្រប់រូបឲ្យមានលំនៅដ្ឋានផ្ទាល់ខ្លួនតាមរយៈការផ្តល់សេវាហិរញ្ញវត្ថុដល់ពួកគេ ម្យ៉ាងវិញទៀតគ្រឹះស្ថានចង់ឲ្យអាជីវកម្ម និងជីវភាពរបស់អតិថិជនមានភាពរីកចម្រើន។ ជាទូទៅទស្សនៈរបស់យើងគឺ ធ្វើឲ្យជីវិតកាន់តែប្រសើរ។
        </p>
        </ion-text>
        
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-text color="primary">
        <h2><strong>បេសកកម្ម</strong></h2>
      </ion-text>
      
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <p>
            គ្រឹះស្ថានធ្វើយ៉ាងណាឲ្យពួកគាត់ប្រើប្រាស់ប្រាក់កម្ចីទៅតម្រូវការ និងទិសដៅ របស់ពួកគាត់ក្នុងការពង្រីកអាជីវកម្ម ទិញសម្ភារ: ប្រើប្រាស់ផ្ទាល់ខ្លួន មានផ្ទះផ្ទាល់ខ្លួន ដើម្បីជួយពួកគាត់ឲ្យមានជីវភាពកាន់តែប្រសើរឡើងបន្ថែមទៀតទៅតាមសមត្ថភាពនៃបា្រក់ចំណូលរបស់ពួកគាត់ ។
          </p>
        </ion-text>
        
      </ion-col>

    </ion-row>
<!-- 
    <ion-row>
      <ion-col size-sm="6">
        <ion-button [routerLink]="['background']" class="btn-radius" color="secondary">
          <ion-img class="ion-margin-end" src="assets/icon/background.png"></ion-img> <strong>ប្រវត្តិគ្រឹះស្ថាន
          </strong>
        </ion-button>
      </ion-col>
      <ion-col size-sm="6">
        <ion-button [routerLink]="['management']" class="btn-radius" color="secondary">
          <ion-img class="ion-margin-end" src="assets/icon/management.png"></ion-img> <strong>ថ្នាក់គ្រប់គ្រង</strong>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6">
        <ion-button [routerLink]="['orga-chart']" class="btn-radius" color="secondary">
          <ion-img class="ion-margin-end" src="assets/icon/background.png"></ion-img> <strong>រចនាសម្ព័ន
          </strong>
        </ion-button>
      </ion-col>
      <ion-col size-sm="6">
        <ion-button [routerLink]="['license']" class="btn-radius" color="secondary">
          <ion-img class="ion-margin-end" src="assets/icon/license.png"></ion-img> <strong>អាជ្ញាប័ណ្ណ</strong>
        </ion-button>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>