
.bg-container{
  --ion-background-color:#f0f2f5;
  justify-content: center
  }
ion-card{
  border-radius: 20px;
  box-shadow: 0px 5px 7px rgba(99, 92, 92, 0.59);
}

ion-thumbnail{
  width: 100%;
  height: 100%;
  
  --border-radius: 15px;
  box-shadow: 0px 5px 7px rgba(99, 92, 92, 0.59);
}

ion-card-content{
  padding: 10px;
  text-align: left;
}

ion-icon {
  font-size: 20px;
 
}

ion-avatar{
    width: 20px;
    height: 20px;
}



ion-item{
  font-size: 10pt;

}





.item{
  width: 100%;
}
.item-input{
  padding: .25em;
  
}
.input-label{
  margin-right: 5px;
  
  background-color: #fff;
 font-weight: bold;
  
}

ion-label{
   
  p{
    margin-left: 10px; 
    
    color: var(--ion-color-primary);
  }
 
  z-index: 5000;
}
ion-input{
  --placeholder-opacity: 100%;
  
  margin-top: -10px;
  border-radius: 10px;
  background-color: #f7f7f7;
  --placeholder-opacity: 100%;
  color: var(--ion-color-primary);
}
.input{
  --padding-start: 10px;
 }


ion-select{
  --placeholder-opacity: 100%;
  width: 100%;
  height: 50px;
  margin-top: -10px;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: .25em ;
  color: var(--ion-color-primary);
}