<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="about"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> <strong>ប្រវត្តិរបស់គ្រឹះស្ថាន</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        <h2><strong>ប្រវត្តិរបស់គ្រឹះស្ថាន</strong></h2>
      </ion-col>


      <ion-col size="12">
        <ion-text color="primary">
          ​គ្រឹះស្ថាន​មីក្រូហិរញ្ញវត្ថុ បរិបូណ៍ ភីអិលស៊ី គ្រឹះស្ថានមីក្រូហិរញ្ញវត្ថុ បរិបូរណ៍ ភីអិលស៊ី
          បានចាប់ផ្តើមបង្កើតឡើង និងមានប្រតិបត្តិការនៅក្នុងកំឡុងឆ្នាំ ២០១១
          ហើយបានទទួលអាជ្ញាប័ណ្ណពីធនាគារជាតិនៃកម្ពុជានូវថ្ងៃទី ៣០ ខែ ធ្នូ ឆ្នាំ ២០១១
          គោលបំណងក្នុងការបង្កើតឡើងគឺដើម្បីជួយសម្រួលដល់ជីវភាពរស់នៅ ព្រមទាំងផ្តល់ហរិញ្ញវត្ថុសំរាប់បង្កើត ពង្រីក
          និងកែលម្អមុខរបរអាជីវកម្មរបស់ប្រជាជនឲ្យមានលក្ខណៈកាន់តែប្រសើរឡើងបន្ថែមទៀត។
          ដោយសារតែតម្រូវការរបស់អតិថិជនកាន់តែច្រើនឡើងៗ នៅក្នុងកំឡុងប៉ុន្មានឆ្នាំកន្លងមកនេះគ្រឹះស្ថានមីក្រូហិរញ្ញវត្ថុ
          បរិបូរណ៍ ក៏បានពង្រីកនៅសាខារបស់ខ្លួនចំនួន៤សាខាបន្ថែមទៀត នៅតាមតំបន់ផ្សេងៗគ្នា
          ដើម្បីងាយស្រួលក្នុងការបម្រើជូននូវសេវាកម្មជូនទៅដល់អតិថិជនដែលពួកគាត់កំពុងតែមានតម្រូវការខាងផ្នែកហិរញ្ញវត្ថុ។
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <h2><strong>ចក្ខុវិស័យ</strong></h2>
      </ion-col>



      <ion-col size="12">
        <ion-text color="primary">
          ​គ្រឹះស្ថាន​មីក្រូហិរញ្ញវត្ថុ បរិបូណ៍ ភីអិលស៊ី គ្រឹះស្ថានមីក្រូហិរញ្ញវត្ថុ បរិបូរណ៍ ភីអិលស៊ី
          គឺជាគ្រឹះស្ថានដែលបង្កើតឡើងដើម្បីជួយប្រជាពលរដ្ខគ្រប់រូបឲ្យមានលំនៅដ្ឋានផ្ទាល់ខ្លួនតាមរយៈការផ្តល់សេវាហិរញ្ញវត្ថុដល់ពួកគេ
          ម្យ៉ាងវិញទៀតគ្រឹះស្ថានចង់ឲ្យអាជីវកម្ម និងជីវភាពរបស់អតិថិជនមានភាពរីកចម្រើន។ ជាទូទៅទស្សនៈរបស់យើងគឺ
          ធ្វើឲ្យជីវិតកាន់តែប្រសើរ។
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <h2><strong>បេសកកម្ម</strong></h2>
      </ion-col>


      <ion-col size="12">
        <ion-text color="primary">
          គ្រឹះស្ថានធ្វើយ៉ាងណាឲ្យពួកគាត់ប្រើប្រាស់ប្រាក់កម្ចីទៅតម្រូវការ និងទិសដៅ របស់ពួកគាត់ក្នុងការពង្រីកអាជីវកម្ម
          ទិញសម្ភារ: ប្រើប្រាស់ផ្ទាល់ខ្លួន មានផ្ទះផ្ទាល់ខ្លួន
          ដើម្បីជួយពួកគាត់ឲ្យមានជីវភាពកាន់តែប្រសើរឡើងបន្ថែមទៀតទៅតាមសមត្ថភាពនៃបា្រក់ចំណូលរបស់ពួកគាត់ ។
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>