<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"><strong>ទីតាំង</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
   
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d62546.64921276226!2d104.92785142943072!3d11.539977557654826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sborribo%20microfinance%20institution%20plc!5e0!3m2!1sen!2skh!4v1652860658487!5m2!1sen!2skh" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 
</ion-content>
