<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"><strong>ព័ត៌មាន</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-container">
  <ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="0"
    pullMax="150">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-searchbar placeholder="Search News" animated [(ngModel)]='searchTerm' mode="ios" showCancelButton="focus">
    </ion-searchbar>
    <ion-row class="ion-justify-left">
      <ion-col *ngFor="let items of news | filter:searchTerm " [routerLink]="[items.id]" size="12" size-sm="12"
        size-md="6" size-lg="6" size-xl="6">
        <ion-card *ngIf="contentLoader" class="ion-no-margin">
          <ion-row>
            <ion-col size="6">
              <ion-thumbnail>
                <ion-img class="thumnail" [src]="'https://www.borribo.com.kh/NewsPicture/'+items.image"></ion-img>

              </ion-thumbnail>
            </ion-col>
            <ion-col size="6">
              <ion-card-content class="ion-no-padding">
                <div class="title">
                  <ion-card-title>
                    <!-- <ion-text color="primary">{{items.title_kh.substring(0, 150)}}...</ion-text> -->
                    <ion-text color="primary">
                      <h5><strong>{{items.title_kh.substring(0,150)}}</strong><strong
                          *ngIf="items.title_kh?.length > 140">...</strong></h5>
                    </ion-text>
                  </ion-card-title>
                  <!-- <ion-card-subtitle>ប្រភេទ: <strong>{{items.id_job_type}}</strong></ion-card-subtitle>
                  <ion-card-subtitle>សាខា: <strong>ភ្នំពេញ</strong></ion-card-subtitle> -->
                  <!-- <ion-list lines="none"class="ion-no-padding">
                    <ion-item class="ion-no-padding">
                      <ion-avatar slot="start">
                        <img src="assets/avatars/avatar.png" />
                      </ion-avatar>
                      <ion-label><strong>{{jobs.author}}</strong></ion-label>
                      <ion-label class="ion-text-end"> <ion-icon name="time-outline"></ion-icon><strong>1 hr</strong></ion-label>
                    </ion-item>
                    
                  </ion-list> -->
                </div>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-row>
        <ion-col *ngFor=" let items of [1, 2, 3, 4, 5, 6]" size="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-card *ngIf="!contentLoader" class="ion-no-margin">
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="6">
                <ion-card-content class="ion-no-padding">
                  <div class="title">
                    <ion-card-title>
                      <!-- <ion-text color="primary">{{items.title_kh.substring(0, 150)}}...</ion-text> -->
                      <ion-text color="primary">
                        <h5>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h5>
                      </ion-text>
                    </ion-card-title>

                    <!-- <ion-card-subtitle>ប្រភេទ: <strong>{{items.id_job_type}}</strong></ion-card-subtitle>
                  <ion-card-subtitle>សាខា: <strong>ភ្នំពេញ</strong></ion-card-subtitle> -->
                    <ion-list lines="none" class="ion-no-padding">
                      <ion-item class="ion-no-padding">
                        <ion-avatar slot="start">
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label><strong>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                          </strong></ion-label>
                        <ion-label class="ion-text-end">
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-infinite-scroll threshold="5%" (ionInfinite)="loadNewsMore($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
</ion-content>