<ion-header  class="absent-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"><strong>ស្នើរសុំ់កម្ចី</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">

  <form [formGroup]="applyloandForm" (ngSubmit)="postLoan()">

    <ion-card mode="ios">
      <ion-card-header color="primary"><strong>សូមបំពេញពត៌មាន ដើម្បីស្នើរសុំប្រាក់កម្ចី</strong></ion-card-header>
      <ion-list>

       
          
        <!-- ======== Name ======== -->
        <ion-item lines="none">
        
      
        <ion-label position="floating"> <p> ឈ្មោះ</p></ion-label>
        <ion-input class="input" type="text" formControlName="name" required></ion-input>
     
        </ion-item>
        <ion-item lines="none" class="erorr"
        *ngIf="applyloandForm.get('name').invalid && (applyloandForm.get('name').touched || applyloandForm.get('name').dirty)">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល ឈ្មោះឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "20" តួរអក្ស</strong></p>
        </ion-text>
      </ion-item>

      <!-- ======== currency ======== -->

      <ion-item lines="none">
        <ion-label position="floating"> <p> រូបិយប័ណ្ណ</p></ion-label>
        <ion-input class="input" type="text" (click)="openPickerCurrency()" formControlName="currency" value="{{currencyString}}" required></ion-input>
         
        
      </ion-item>

      <ion-item class="erorr"
        *ngIf="applyloandForm.get('currency').invalid && (applyloandForm.get('currency').touched || applyloandForm.get('currency').dirty)"
        lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមជ្រើសរើសប្រភេទ​ រូបិយប័ណ្ណ ឱ្យបានត្រឹមត្រូវ</strong></p>
        </ion-text>
      </ion-item>

        <!-- ======== Amout ======== -->
        <ion-item lines="none">
          <ion-label position="floating">
            <p>ទំហំទឹកប្រាក់</p> 
          </ion-label>
          <ion-input class="input" name="amount" type="text" formControlName="amount" required="">
          </ion-input>
  
        </ion-item>
        <ion-item lines="none" class="erorr"
          *ngIf="applyloandForm.get('amount').invalid && (applyloandForm.get('amount').touched || applyloandForm.get('amount').dirty)">
          <ion-text color="danger">
            <p><strong class="erorr">សូមបញ្ជូល ចំនួនសាច់ប្រាក់ឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "10" ខ្ទង់</strong></p>
          </ion-text>
        </ion-item>

        <!-- ======== Gender ======== -->

      <ion-item lines="none">
        <ion-label position="floating"> <p>ភេទ</p></ion-label>
        <ion-input class="input" type="text" (click)="openPickerGender()" formControlName="gender"  placeholder="{{genderString}}"></ion-input>
        <ion-input class="input" type="text" hidden formControlName="gender"  value="{{genderValue}}" required></ion-input>

      </ion-item>
      

      <ion-item lines="none" class="erorr"
        *ngIf="applyloandForm.get('gender').invalid && (applyloandForm.get('gender').touched || applyloandForm.get('gender').dirty)"
        lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមជ្រើសរើសប្រភេទ​</strong></p>
        </ion-text>
      </ion-item>

        <!-- ======== Phone ======== -->
        <ion-item lines="none">
          <ion-label position="floating">
            <p>លេខទូរស័ព្ទ</p> 
          </ion-label>
          <ion-input class="input" type="text" name="phone" formControlName="phone" required>
          </ion-input>
        </ion-item>
  
        <ion-item lines="none" class="erorr"
          *ngIf="applyloandForm.get('phone').invalid && (applyloandForm.get('phone').touched || applyloandForm.get('phone').dirty)">
          <ion-text color="danger">
            <p><strong class="erorr">សូមបញ្ជូល លេខទូរស័ព្ទឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "10" ខ្ទង់</strong></p>
          </ion-text>
        </ion-item>


          <!-- ======== Aseet ======== -->

      <ion-item lines="none">
        <ion-label position="floating"> <p>ទ្រព្យ</p> </ion-label>

        <ion-input class="input" type="text" (click)="openPickerAsset()" formControlName="asset"  value="{{assetValue}}" required></ion-input>
        

        
      </ion-item>

      <ion-item lines="none" class="erorr"
        *ngIf="applyloandForm.get('asset').invalid && (applyloandForm.get('asset').touched || applyloandForm.get('asset').dirty)"
        lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមជ្រើសរើស ឱ្យបានត្រឹមត្រូវ</strong></p>
        </ion-text>
      </ion-item>
      <!-- ======== adress ======== -->
      <ion-item lines="none">
        <ion-label position="floating">
         <p>អាស័ដ្ឋាន</p> 
        </ion-label>
        <ion-input class="input" type="text" name="address" formControlName="address" required>
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="erorr"
        *ngIf="applyloandForm.get('address').invalid && (applyloandForm.get('address').touched || applyloandForm.get('address').dirty)">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល អាស័ដ្ឋានឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "50" ខ្ទង់</strong></p>
        </ion-text>
      </ion-item>

      
        <ion-button type="submit" mode="ios" [disabled]="!applyloandForm.valid" expand="block" color="primary" class="ion-margin"> បញ្ជូន</ion-button>
      
    </ion-list>
    
    
        
      
    
    </ion-card>

   

      

 
     

    

    

     
     
    



   




    <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text" name="username" formControlName="username"  class="form-control"
        id="exampleInputEmail1" aria-describedby="emailHelp">
      <div class="text-danger"
        *ngIf="registerForm.get('username').invalid && (registerForm.get('username').touched || registerForm.get('username').dirty)">
        Please Enter User Name</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" name="email" formControlName="email"  class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
      <div class="text-danger"
        *ngIf="registerForm.get('email').invalid && (registerForm.get('email').touched || registerForm.get('email').dirty)">
        Please Enter Email</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Phone Number</label>
      <input type="text" name="phone" formControlName="phone"  class="form-control"
        id="exampleInputPassword1">
      <div class="text-danger"
        *ngIf="registerForm.get('phone').invalid && (registerForm.get('phone').touched || registerForm.get('phone').dirty)">
        Please Enter Phone</div>

    </div>

    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button> -->
  </form>


</ion-content>