<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="about"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> <strong>រចនាសម្ព័ន</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card >
        <ion-img class="ion-padding" src="https://www.borribo.com.kh/template/images/about/organization-chat.png">
        </ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
