<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"><strong>ស្នើរសុំ់ការងារ</strong></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form #formReferice="ngForm" (ngSubmit)="onSubmit(formReferice)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">
        ឈ្មោះ 
      </ion-label>
        <ion-input type="text" ngModel name="fullName" required maxlength="20" #fullNameCtrl="ngModel">
        </ion-input>

      </ion-item>
      <ion-item class="erorr" *ngIf="!fullNameCtrl.valid && fullNameCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល ឈ្មោះឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "12" តួរអក្ស</strong></p>
        </ion-text>
      </ion-item>

     

      <ion-item>
        <ion-label position="floating">
          ទឹកប្រាក់
        </ion-label>
        <ion-input type="text" ngModel name="amount" required maxlength="5" #amountCtrl="ngModel">
        </ion-input>

      </ion-item>
      <ion-item class="erorr" *ngIf="!amountCtrl.valid && amountCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល ចំនួនសាច់ប្រាក់ឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "5" ខ្ទង់</strong></p>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ភេទ</ion-label>
        <ion-select ngModel #genderCtrl="ngModel" name="guest-number" required>

          <ion-select-option value="1">ប្រុស</ion-select-option>
          <ion-select-option value="2">ស្រី</ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item class="erorr" *ngIf="!genderCtrl.valid && genderCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមជ្រើសរើស ឱ្យបានត្រឹមត្រូវ</strong></p>
        </ion-text>
      </ion-item>

     
      <ion-item>

        <ion-label position="floating">
          អុីម៉ែល
        </ion-label>
        <ion-input type="email" ngModel name="email"  email #emailCtrl="ngModel"></ion-input>

      </ion-item>
      <ion-item class="erorr" *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល អុីម៉ែល​ឲ្យបានត្រឹមត្រូវ ដោយមាន សញ្ញា "@"</strong></p>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          លេខទូរស័ព្ទ
        </ion-label>
        <ion-input type="text" ngModel name="phone" required maxlength="10" #phoneCtrl="ngModel">
        </ion-input>
      </ion-item>

      <ion-item class="erorr" *ngIf="!phoneCtrl.valid && phoneCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល លេខទូរស័ព្ទឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "10" ខ្ទង់</strong></p>
        </ion-text>
      </ion-item>


      <ion-item>
        <ion-label position="floating">
          អាស័ដ្ឋាន
        </ion-label>
        <ion-input type="text" ngModel name="adress" required maxlength="20" #adressCtrl="ngModel">
        </ion-input>
      </ion-item>

      <ion-item class="erorr" *ngIf="!adressCtrl.valid && adressCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល អាស័ដ្ឋានឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "20" ខ្ទង់</strong></p>
        </ion-text>
      </ion-item>

     

      <ion-item>
        <ion-label position="floating">
          ខែ ឆ្នាំ កំណើត
        </ion-label>
       
<ion-button id="open-modal">  ខែ ឆ្នាំ កំណើត</ion-button>
<ion-modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-datetime></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
      </ion-item>

      <ion-item class="erorr" *ngIf="!adressCtrl.valid && adressCtrl.touched" lines="none">
        <ion-text color="danger">
          <p><strong class="erorr">សូមបញ្ជូល អាស័ដ្ឋានឱ្យបានត្រឹមត្រូវ ច្រើនបំផុត "20" ខ្ទង់</strong></p>
        </ion-text>
      </ion-item>


    </ion-list>





    <ion-button type="submit" [disabled]="!formReferice.valid" expand="block" color="primary"> បញ្ជូន
    </ion-button>
  </form> -->


 
</ion-content>
