<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="about"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> <strong>ថ្នាក់គ្រប់គ្រង</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-left">

      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Ouk-Torany.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Ouk Torany</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Meang-Sovan.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Meang Sovan</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Sun-Sokha.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Sun Sokha</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Chhon-Sengon.JPG">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Chhon Sengon</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Koun-Sothy.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Koun Sothy</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Lav-Piseth.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Lav Piseth</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Hun-Rina.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Hun Rina</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Heng-Leakhena.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Heng Leakhena</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Hak-Romdoul.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Hak Romdoul</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card class="ion-no-margin">
          <ion-thumbnail>
            <ion-img class="thumnail"
            src="https://www.borribo.com.kh/template/images/about/management-team/Vong-Attravireakkonth.jpg">
          </ion-img>
          </ion-thumbnail>
          
          <ion-card-content class="ion-no-padding">
            <ion-text color="primary"><h5><strong>Vong Attravireakkonth</strong></h5></ion-text>
           
          <ion-card-subtitle>ឥណទានក្រុម​សាមគ្គី គឺតម្រូវឲ្យមាន...</ion-card-subtitle>
          </ion-card-content>
          
        </ion-card>
        
      </ion-col>
      

    </ion-row>
  </ion-grid>
</ion-content>
